/* spinner while loading */
#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

/* make jQuery UI Menu into a horizontal menubar with vertical dropdown */
#menubar > li { /* menubar buttons */
  display: inline-block;
}
#menubar > li > ul > li { /* menubar buttons inside dropdown */
  display: block;
}

#menubar > li > div > span.ui-icon-caret-1-e { /* caret on menubar */
  background:none no-repeat -64px -16px !important;
}

.ui-progressbar {
  position: relative;
  width: 200pt;
  height: 10pt;
}

.progress-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}
